
.programs {
    width: 80%;
    margin: 0px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    
}


.program {
    padding: 7px;
    width: 33%;
    position: relative;
    overflow: hidden;
}



.program div > img{
    width: 100%;
    border-radius: 15px;

}




.shadow h4{
    background-color: rgba(0, 0, 255, 0.676);
    color: white;
    font-weight:bold ;
    padding: 6% 10%;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    bottom: -500px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ;
}

.program :hover .shadow h4 {
    bottom: 70px;

}


@media (max-width:768px){
    .program {
      
        width: 50%;
    
    }


}